body {
  font-family: Lato, 'IBM Plex Sans', Calibri Light, sans-serif;
  font-style: normal;
}

h2, h5, h6 {
  margin-top: 8px;
  margin-bottom: 8px;
}

p, li {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link, a:visited {
  color: #9400ff;
}

a:hover {
  color: #ff0066;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.sidenav {
  background-color: white;
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 24px; /* Increased text to enable scrolling */
  padding: 10px 10px 10px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.about-box {
  background-color: #a3eaff;
  padding: 10px 15px 10px 15px;
}

.list-box {
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
